# Gradle
.gradle/
build/
local.properties

# Kotlin
.kotlin/

# IDE
.idea/
*.iml
.DS_Store

# App build
shared/build/
shared/release/

# iOS (Xcode)
iosApp/iosApp.xcodeproj/project.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/
**/*.xcuserstate
DerivedData/
iosApp/build/
*.ipa
*.dSYM.zip
